* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6,
#en_savoir_plus {
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
    color: #EE6055;
}

body {
    padding-top: 4.5rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #343a40;
}

.mention_legales {
    padding-left: 5%;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    box-sizing: border-box;

}

nav {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
}

main {
    margin-top: 80px;
    margin-left: 240px;
    overflow-y: auto;
    flex: 1;
    padding: 0 20px;
}

p:not(.card-text) {
    text-align: justify;
}

/* Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    background-color: #EE6055;
    color: #343a40;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-section,
.middle-section,
.right-section {
    flex: 1;
}

.right-section {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    color: #343a40;
    text-align: right;
}

/* éléments du footer */
.footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.footer-item .icon {
    margin-right: 8px;
    font-size: 18px;
    color: #343a40;
}

.footer-item a {
    color: #343a40;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}

.middle-section img {
    margin-left: 20px;
    height: 40px;
}

.card {
    width: 100%;
    height: 100%;
}

.card-title {
    min-height: 50px;
}

.card-text {
    font-size: 16px;
    min-height: 64px;
}

a {
    color: #EE6055;
}

a.link-secondary {
    text-decoration: none;
}

a.link-secondary:hover {
    text-decoration: underline;
}

/*.card-tiede, .card-froid, .card-chaud {
    border-width: 3px;
    border-style: solid;
}*/

.card-tiede {
    filter: brightness(0) saturate(100%) invert(83%) sepia(54%) saturate(2348%) hue-rotate(354deg) brightness(102%) contrast(92%);
}

.card-froid {
    filter: brightness(0) saturate(100%) invert(35%) sepia(47%) saturate(4550%) hue-rotate(202deg) brightness(91%) contrast(84%);
}

.card-chaud {
    filter: brightness(0) saturate(100%) invert(35%) sepia(60%) saturate(4177%) hue-rotate(336deg) brightness(80%) contrast(124%);
}

.legend-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.legend-yellow {
    background-color: rgb(245, 194, 17);
}

.legend-green {
    background-color: rgb(28, 113, 216);
}

.legend-red {
    background-color: rgb(224, 27, 36);
}

#last-modified,
.footer-item {
    font-size: smaller;
}

#en_savoir_plus {
    font-size: smaller;
}

#legend {
    margin-bottom: 25px;
}